//****************************************** Button Variables **//
$red: red;
$yellow: orange;
$green: green;
$lightgreen: lightgreen;
$blue: darkblue;
$purple: purple;
$brown: brown;
$white: white;
$black: black;
$darkgrey: darkgrey;
$grey: grey;
$start-button-hover: #87D37C;


.center-item {
    text-align: center;
}

//****************************************** Page Styling **//


#page-title {
    font-family: sans-serif;
    font-size: 4vmin;
    display: flex;
    justify-content: center;
    color: $white;
    padding: 0;
    margin: 0;
    height: 10vh;
    width: 100vw;
    background-color: $black;
}

#page {
    height: 80vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}


#button-panel {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: $black;

}

#options-panel {
    background-color: $darkgrey;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 10vmin;
    font-family: sans-serif;
    font-size: 4vmin;
    color: red;
    justify-content: center;
}

footer {
    height: 10vh;
}

%button-common:hover {
    opacity: 0.6;
    transition: opacity .5s ease-in-out;
}


%button-common {
    border: 1vmin solid $grey;
    border-radius: 50%; 
    margin: 10vmin;
    display: flex;
    justify-content: left;
    opacity: 0.5;
}

.red-button-style {
    background-color: $red;
    @extend %button-common;
}

.yellow-button-style {
    background-color: $yellow;
    @extend %button-common;
}

.green-button-style {
    background-color: $green;
    @extend %button-common;
}

.blue-button-style {
    background-color: $blue;
    @extend %button-common;
}

.purple-button-style {
    background-color: $purple;
    @extend %button-common; // @include display-hide-button($buttons);
}

.brown-button-style {
    background-color: $brown;
    @extend %button-common; //    @include display-hide-button($buttons);
}

#start-panel {
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    font-size: 4vmin;
    color: red;
}

#start-button {
    background-color: $lightgreen;
    color: $black;
    border-radius: 10px;
    width: 20vmin;
    height: 6vmin;
    font-size: 4vmin;
    margin: auto;
    vertical-align: middle;
}

#start-button:hover {
    background-color: $start-button-hover;
    transition: background-color .5s ease-in-out;
}

#Direction-Button,
#No-Of-Buttons,
#Rounds-Button {
    background-color: $white;
    color: $black;
    border-radius: 5px;
    width: 20vmin;
    height: 5vmin;
    font-size: 2vmin;
    float: left;
    margin: 2vmin;
    display: flex;
    justify-content: center;
}

#Direction-Button:hover,
#No-Of-Buttons:hover,
#Rounds-Button:hover {
    background-color: $yellow;
    transition: background-color .5s ease-in-out;
}
