//****************************************** Button Variables **//
$buttons: 6;
$red: #cc0000;
$high-red: #ff3333;
$yellow: #ffff00;
$high-yellow: #ffff66;
$green: #00cc00;
$high-green: #33ff33;
$blue: #0000ff;
$high-blue: #3333ff;
$purple: #990099;
$high-purple: #ff33ff;
$brown: #804000;
$high-brown: #b35900;


.center-item {
    text-align: center;
}

//****************************************** Page Styling **//
#page-title {
    font-family: sans-serif;
    font-size: 4vmin;
    display: flex;
    justify-content: center;
    color: white;
    padding: 0;
    margin: 0;
    height: 10vh;
    width: 100vw;
    background-color: black;

}

#page {
    height: 80vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}


#button-panel {

    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;

}

#options-panel {
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 10vmin;
}

footer {
    height: 10vh;
}

//*********************************************** Mixins **//
@mixin button($buttons) {
    @if $buttons==4 {
        height: 20vh;
        width: 20vh;
    }

    @if $buttons==6 {
        height: 15vh;
        width: 15vh;
    }
}

@mixin display-hide-button($buttons) {

    @if $buttons==4 {
        display: none;
    }
    @if $buttons==6 {
        display: relative;
    }
}


//*********************************************** Button Styles **//
%button-common {
    border: 1px solid #000;
    border-radius: 50%;
    align: center;
    @include button($buttons);
    display: relative;
    margin: 10vmin;
}

.red-button {
    background-color: $red;
    @extend %button-common;
}

.high-red-button {
    background-color: $high-red;
    @extend %button-common;
}

.yellow-button {
    background-color: $yellow;
    @extend %button-common;
}

.high-yellow-button {
    background-color: $high-yellow;
    @extend %button-common;
}

.green-button {
    background-color: $green;
    @extend %button-common;
}

.high-green-button {
    background-color: $high-green;
    @extend %button-common;
}

.blue-button {
    background-color: $blue;
    @extend %button-common;
}

.high-blue-button {
    background-color: $high-blue;
    @extend %button-common;
}

.purple-button {
    background-color: $purple;
    @extend %button-common;
    @include display-hide-button($buttons);
}

.high-purple-button {
    background-color: $high-purple;
    @extend %button-common;
    @include display-hide-button($buttons);
}

.brown-button {
    background-color: $brown;
    @extend %button-common;
    @include display-hide-button($buttons);
}

.high-brown-button {
    background-color: $high-brown;
    @extend %button-common;
    @include display-hide-button($buttons);
}

#start-button {
    background-color: white;
    color: black;
    border-radius: 5px;
    width: 20vmin;
    height: 5vmin;
    font-size: 4vmin;
    margin: 2vmin;
    float: left;
    display: flex;
    justify-content: center;
}

#options-button {
    background-color: white;
    color: black;
    border-radius: 5px;
    width: 20vmin;
    height: 5vmin;
    font-size: 4vmin;
    float: left;
    margin: 2vmin;
    display: flex;
    justify-content: center;
}
