//****************************************** Button Variables **//
$buttons: 6;
$red: red;
$yellow: orange;
$green: green;
$blue: darkblue;
$purple: purple;
$brown: brown;

.center-item {
    text-align: center;
}

//****************************************** Page Styling **//
#page-title {
    font-family: sans-serif;
    font-size: 4vmin;
    display: flex;
    justify-content: center;
    color: white;
    padding: 0;
    margin: 0;
    height: 10vh;
    width: 100vw;
    background-color: black;

}

#page {
    height: 80vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}


#button-panel {

    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;

}

#options-panel {
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 10vmin;
}

footer {
    height: 10vh;
}

//*********************************************** Mixins **//
@mixin button($buttons) {
    @if $buttons==4 {
        height: 20vh;
        width: 20vh;
    }

    @if $buttons==6 {
        height: 15vh;
        width: 15vh;
    }
}

@mixin display-hide-button($buttons) {

    @if $buttons==4 {
        display: none;
    }
    @if $buttons==6 {
        display: relative;
    }
}


//*********************************************** Button Styles **//
%button-common {
    border: 1vmin solid grey;
    border-radius: 50%;
    @include button($buttons);
    margin: 10vmin;
    display: relative;
    align: left;
    opacity: 0.5;
}

.red-button-style {
    background-color: $red;
    @extend %button-common;
}

.yellow-button-style {
    background-color: $yellow;
    @extend %button-common;
}

.green-button-style {
    background-color: $green;
    @extend %button-common;
}

.blue-button-style {
    background-color: $blue;
    @extend %button-common;
}

.purple-button-style {
    background-color: $purple;
    @extend %button-common;
    @include display-hide-button($buttons);
}

.brown-button-style {
    background-color: $brown;
    @extend %button-common;
    @include display-hide-button($buttons);
}

#start-button {
    background-color: white;
    color: black;
    border-radius: 5px;
    width: 20vmin;
    height: 5vmin;
    font-size: 4vmin;
    margin: 2vmin;
    float: left;
    display: flex;
    justify-content: center;
}

#options-button {
    background-color: white;
    color: black;
    border-radius: 5px;
    width: 20vmin;
    height: 5vmin;
    font-size: 4vmin;
    float: left;
    margin: 2vmin;
    display: flex;
    justify-content: center;
}
